@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2563eb url("./asset/bg.svg") center/cover no-repeat fixed;
  font: 1em/1.618 Mulish, sans-serif;
  margin: 0 1rem 0 1rem;
}

.mybd {
  border: 2px solid red;
}
